{% extends "base.html" %}

{% block cuerpo %}
    {% load static %}
    <div class="row"><!-- la fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 cold-xl-4"> <!-- columna izquierda -->

        <h1> Empleados 🦄</h1>
        <div class="card"><!-- la tarjeta -->
            <div class="card-body">
                <form action="registrarempleados/" method="POST"> {% csrf_token %} <!-- falta action-->
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control" placeholder="id Empleado" minlength="1" maxlength="6" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombres" name="txtnombres" class="form-control" placeholder="Nombres del Empleado"  maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtapellidos" name="txtapellidos" class="form-control" placeholder="Apellidos del Empleado"  maxlength="15" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="skznumero" name="skznumero" class="form-control" placeholder="Numero del Empleado"  maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="skzcargo" name="skzcargo" class="form-control" placeholder="Cargo del Empleado"  maxlength="25" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="skzsalario" name="skzsalario" class="form-control" placeholder="Salario del Empleado"  maxlength="5" minlength="1" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="skzhorario" name="skzhorario" class="form-control" placeholder="Horario del empleado"  maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <div class="form-group py-2">
                            <button type="submit" class="btn btn-primary">Guardar Empleado</button>
                    </div>
                    </div>
                </form>
                </div>
            </div> <!-- la tarjeta -->

    </div><!-- columna izquierda-->


    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- columna derecha -->
    <h1> Listado de Empleados 🌺</h1>
    <img class="w-50" src="{% static 'img/empleados.png' %}" alt="miriam" width="100" height="200">
    <br>
    <br>
    <!--   La tabla  -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">nombres</th>
                <th scope="col">apellidos</th>
                <th scope="col">numero</th>
                <th scope="col">cargo</th>
                <th scope="col">salario</th>
                <th scope="col">horario</th>
                <th> Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for e in misempleados %}
            <tr>
                <td>
                    {{forloop.counter}}
                    <td> {{e.id}} </td>
                    <td> {{e.nombres}} </td>
                    <td> {{e.apellidos}} </td>
                    <td> {{e.numero}} </td>
                    <td> {{e.cargo}} </td>
                    <td> {{e.salario}} </td>
                    <td> {{e.horario}} </td>
                    <td> <a href="seleccionarempleados/{{e.id}}" class="btn btn-info">Editar</a></td>
                    <td> <a href="borrarempleados/{{e.id}}" class="btn btn-danger">Borrar</a></td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--   La tabla  -->
    </div> <!-- columna derecha -->
</div> <!-- la fila -->

{% endblock  %}